root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 240
tab_width = 4

[*.less]
indent_size = 2

[*.sass]
indent_size = 2

[*.scss]
indent_size = 2

[{*.cjs, *.js}]
indent_size = 2
tab_width = 2

[{*.har, *.jsb2, *.jsb3, *.json, .babelrc, .eslintrc, .prettierrc, .stylelintrc, bowerrc, jest.config}]
indent_size = 2

[{*.yaml, *.yml}]
indent_size = 2
